<div class="container text-center">
    <br>
</div>
<div class="card" style="box-shadow: 0 5px 5px darkgray">
    <div class="card-header"> </div>
</div>
<br>

<div class="text-center">
    <img src="" width="100px">
</div>
<br>

<div class="col d-flex justify-content-center">
    <div class="card text-center" style="width: 20rem; height: 30rem; 
                             box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30)">
        <div class="card-header" style="background-color: tomato; color: white">
            Formulaire d'inscription
        </div>
        <div class="card-body">
            <br>
            <form #forme="ngForm" (ngSubmit)="inscription()">
                <div class="form-group">
                    <input type="mail" placeholder="mail" required="" name="mail" class="form-control text-center"
                        [(ngModel)]="user.mail">
                </div>
                <br>
                <div class="form-group">
                    <input type="text" placeholder="pseudo" required="" name="pseudo" class="form-control text-center"
                        [(ngModel)]="user.pseudo">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="nom" required="" name="nom" class="form-control text-center"
                        [(ngModel)]="user.nom">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="prenom" required="" name="prenom" class="form-control text-center"
                        [(ngModel)]="user.prenom">
                </div>
                <br>
                <div class="form-group">
                    <input type="password" placeholder="mot de passe" required="" name="mdp"
                        class="form-control text-center" [(ngModel)]="user.mdp">
                </div>
                <br>
                <button [disabled]="!forme.form.valid" type="submit" class="btn btn-danger">
                    valider
                </button>
                <button type="button" class="btn btn-link" (click)="redirectLogin()"> Se Connecter ? </button>
            </form>
            <p class="text-danger">{{ msg }} <strong class="text-success">{{ msgV }}</strong></p>
        </div>
    </div>
</div>