
 
        <div class="">
          <form #forme="ngForm" (ngSubmit)="invitation()">
          
            <div class="form-group">
              <input required="required" name="loginC" type="email" placeholder="mail" class="form-control"  [(ngModel)]="user.mail" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let p of users " [value]="p.mail">
                    {{p.mail}}
                  </mat-option>
                </mat-autocomplete>
            </div>
                <button [disabled]="!forme.form.valid" type="submit" class="btn btn-block btn-success">inviter</button>
            <!--    <button type="button" class="btn btn-block btn-danger" >Fermer</button>-->
          </form>
        </div>
