<mat-dialog-content class="mat-typography">
    <form (ngSubmit)="creaSouhait()">
        <div class="form-group text-center">
            <input type="text" placeholder="Mon souhait" required="" id="descsouhait" class="form-control text-center">
        </div>
        <br>

        <br>
        <div class="text-center">
            <button type="submit" class="btn" style="background-color: rgb(230, 100, 77);color: lightgray;">
                Creer
            </button>

        </div>



    </form>
</mat-dialog-content>