
<mat-dialog-content class="mat-typography">
<table class="table">
    <thead >
        <th class="colorentete">Prénom</th>
        <th class="colorentete">Nom</th>
        <th class="colorentete">Mail</th>
    </thead>
    <tbody>
        <tr>
            <th>{{details.prenom}}</th>
            <th>{{details.nom}}</th>
            <th>{{details.pseudo}}</th>
        </tr>
    </tbody>
</table>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>