<mat-nav-list>
        <table class="table" style="zoom: 85%;">
            <thead>
                <th style="max-width: 10px;">#</th>
                <th style="width: fit-content;"></th>
                <th>Souhait</th>
                <th style="max-width: 30px;">Supprimer</th>
            </thead>
            <tbody>
                <tr *ngFor="let s of souhaits" cdkDragLockAxis="y" cdkDrag>
                    <th> {{s.ordre}} </th>
                    <th>
                        <button mat-icon-button (click)="monterSouhait(s)">
                            <mat-icon>keyboard_arrow_up</mat-icon>
                        </button>
                        <button mat-icon-button (click)="baisserSouhait(s)">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                    </th>
                    <th>{{s.description}}</th>
                    <th><button mat-icon-button (click)="supprSouhait(s)">
                            <mat-icon>delete</mat-icon>
                        </button></th>
                </tr>
            </tbody>

        </table>
        <!-- <div cdkDropList id = "droplist" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let s of souhaits" cdkDrag>
                <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                {{s.ordre}}.
                <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                 {{s.description}}
            </div>
        </div> -->

        <br>
        <hr>
        <br>

        <div class="text-center">
            <button mat-mini-fab color="primary" (click)="openPopupCreaSouhait()"
                style="color: lightgray; background-color: rgb(0, 0, 0);">
                <mat-icon>add</mat-icon>
            </button>
        </div>

    </mat-nav-list>
