
    <mat-nav-list>
        <table class="table">
            <thead>
                <th scope="col"></th>
                <th scope="col">Pseudo</th>
                <th scope="col">Souhaits</th>
                <th scope="col">Supprimer</th>
            </thead>
            <tbody>
                <tr *ngFor="let p of participants">
                    <th>
                        <mat-icon class="example-tab-icon">face icon</mat-icon>
                    </th>
                    <th (click)=afficherDetails(p.participant.id)><strong> {{p.participant.pseudo}}</strong></th>

                    <th> <button mat-icon-button (click)=afficherSouhaits(p.participant.id)>
                            <mat-icon>view_list</mat-icon>
                        </button></th>
                    <th> <button mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button></th>
                </tr>

            </tbody>

        </table>
        <form #forme = "ngForm" (ngSubmit)="tirage()"><button type="submit" class="btn btn-danger">Faire le tirage</button></form>
    </mat-nav-list>
