<mat-nav-list>
    <table class="table">
        <thead>
            <th style="color:lightgray">#</th>
            <th style="color:lightgray;">Pseudo</th>
            <th style="color: lightgray;">Souhaits</th>
            <th style="color: lightgray;" *ngIf="myback.utilisateurProprio">Supp</th>
        </thead>
        <tbody>
            <tr *ngFor="let p of participants">
                <th>
                    <mat-icon class="example-tab-icon">face icon</mat-icon>
                </th>
                <th (click)=afficherDetails(p.participant.id)><strong> {{p.participant.pseudo}}</strong></th>

                <th> <button mat-icon-button (click)=afficherSouhaits(p.participant.id)>
                        <mat-icon>view_list</mat-icon>
                    </button></th>
                <th> <button mat-icon-button *ngIf="myback.utilisateurProprio" (click)=delete(p.participant.id)>
                        <mat-icon>delete</mat-icon>
                    </button></th>
            </tr>

        </tbody>

    </table>
    <div>
        <div class="text-center">
            <form #forme="ngForm" (ngSubmit)="tirage()"><button mat-raised-button
                    style="color: lightgray; background-color: rgb(230, 100, 77); width: fit-content;" type="submit"
                    id="boutontirage" class="btn btn-block" *ngIf="myback.boutonTirageVisible">
                    <mat-icon>check_circle_outline</mat-icon>Lancer le tirage
                </button></form>
        </div>


        <br>

        <div class="text-center">
                <form #forme="ngForm" (ngSubmit)="cloture()"><button mat-raised-button
                        style="color: lightgray; background-color: rgb(230, 100, 77); width: fit-content;" type="submit"
                        id="boutoncloture" class="btn btn-block" *ngIf="myback.utilisateurProprio">
                        <mat-icon>delete</mat-icon>Fermer le Santa
                    </button></form>
            </div>

        
    </div>
</mat-nav-list>