<!-- <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form #form (ngSubmit)="onUpload(messageimage.value)">
    
                    <div class="text-center">
                        <img [src]="imgURL" height="80" *ngIf="imgURL">
                    </div>
                    <br>
                    <div class="text-center">
                        <input type="file" name="pic" (change)="onFileChanged($event)">
                    </div>
                    <br>
                    <div class="text-center">
                        <textarea type="text" class="text-center" placeholder="Message" #messageimage
                            style="width: 100%;"></textarea>
                    </div>
                    <br><br>
    
                    <div class="text-center">
                        <button (click)="trueFalse()">Envoyer</button>
                    </div>
                    <p *ngIf="visibleimgenvoye" style="color: rgb(35, 190, 56);" class="text-center">Image bien envoyée !</p>
                                       
                </form>
            </div>
        </div>
    </div> -->

<div>
    <form #form (ngSubmit)="onUpload(messageimage.value)">

            <div class="text-center">
                    <img [src]="imgURL" height="80" *ngIf="imgURL">
                </div>
                <br>

        <div class="input-group mb-3">
            <input type="text" class="form-control text-center" placeholder="Quoi de neuf ? ☺☺" #messageimage>
            <div class="input-group-append">
                <button type="submit" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </div>
        <input type="file" [hidden]="true" name="pic" (change)="onFileChanged($event)" accept="image/*" #file>
        
    </form>

    <div class="text-center">
            <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon"
                (click)="file.click()">
                <mat-icon>perm_media</mat-icon>
            </button>
            &nbsp; &nbsp;
            <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                <mat-icon>gif</mat-icon>
            </button>
        </div>
</div>
