
<div class="container">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="card" style="box-shadow: 0 5px 5px darkgray ">
                <div class="card-header">
                    <h6 class="text-center" style="color : rgb(230, 100, 77)">
                        Bien le bonjour sur Secret Santa, veuillez decliner votre identité</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>
<div class="text-center">
    <img src="" width="100px">
</div>
<br>


<div class="col d-flex justify-content-center">
    <div class="card text-center" style="width: 20rem; height: 20rem; 
                 box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30)">
        <div class="card-header" style="background-color: rgb(230, 100, 77); color: white">
            Login
        </div>
        <div class="card-body">
            <br>

            <form (ngSubmit)="connexion()">
                <div class="form-group">
                    <input type="text" placeholder="mail" required="" name="mail" class="form-control"
                        [(ngModel)]="user.mail">
                </div>
                <br>
                <div class="form-group">
                    <input type="password" placeholder="mot de passe" required="" name="mdp" class="form-control"
                        [(ngModel)]="user.mdp">
                </div>
                <br>
                <button type="submit" class="btn btn-danger">
                    connexion
                </button>

                <button type="button" (click)="goInscription()" class="btn btn-link"> s'inscrire ?</button>
            </form>
            <p class="text-danger">{{mys.msgErr}}</p>
        </div>
    </div>
</div>