<!-- <img style="position: absolute; top: 5px; left: 5px;" src="https://img.icons8.com/color/80/000000/christmas-gift.png" width="50px">
<img style="position: absolute; top: 5px; left: 50%;" src="https://img.icons8.com/color/80/000000/christmas-gift.png" width="50px">
<img style="position: absolute; top: 5px; right: 5px;" src="https://img.icons8.com/color/80/000000/christmas-gift.png" width="50px"> -->


            <table class="table">
                <thead>
                    <th>Ordre</th>
                    <th>Idée</th>
                </thead>
                <tbody>
                    <tr *ngFor="let s of psouhaits">
                        <th>
                            {{s.ordre}}
                        </th>
                        <th><strong> {{s.description}}</strong></th>
                    </tr>
                </tbody>

            </table>
