<p>santa works!</p>
<br><br>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <mat-tab-group mat-align-tabs="center">
            <!-- Liste des participants -->
            <mat-tab label="Liste des participants">
                <mat-nav-list>
                    <table class="table">
                        <thead>
                            <th scope="col"></th>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Souhaits</th>
                            <th scope="col">Supprimer</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of participants">
                                <th>
                                    <mat-icon class="example-tab-icon">face icon</mat-icon>
                                </th>
                                <th><strong> {{p.participant.pseudo}}</strong></th>

                                <th> <button mat-icon-button (click)=afficherSouhaits(p.participant.id)>
                                        <mat-icon>view_list</mat-icon>
                                    </button></th>
                                <th> <button mat-icon-button>
                                        <mat-icon>delete</mat-icon>
                                    </button></th>
                            </tr>

                        </tbody>

                    </table>
                </mat-nav-list>
            </mat-tab>
            <!-- Liste de souhaits -->
            <mat-tab label="Ma liste de souhaits">
                <mat-nav-list>
                    <table class="table">
                        <thead>
                            <th>Ordre</th>
                            <th>Mon souhait</th>
                            <th>Changer ordre</th>
                            <th>Supprimer</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let s of souhaits">
                                <th>{{s.ordre}}</th>
                                <th><strong> {{s.description}}</strong></th>
                                <th>
                                    <form (ngSubmit)="changerOrdre(s)"><input on type="number"
                                            style="width: 50px;" name="nouvelOrdre" [(ngModel)]="souhaitOrdreChange.nouvelOrdre"></form>
                                </th>
                                <th><button mat-icon-button (click)="supprSouhait(s)">
                                        <mat-icon>delete</mat-icon>
                                    </button></th>
                            </tr>
                        </tbody>

                    </table>
                    <div class="text-center">
                        <button mat-mini-fab color="primary" (click)="openPopupCreaSouhait()"
                            style="color: lightgray; background-color: rgb(0, 0, 0);">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>

                </mat-nav-list>
            </mat-tab>
            <!-- Mur du santa -->
            <mat-tab label="Mur du Santa"> Mur du Santa </mat-tab>
        </mat-tab-group>

    </div>

</div>