<p>santa works!</p>
<br><br>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <mat-tab-group mat-align-tabs="center">
            <!-- Liste des participants -->
            
            <mat-tab label="Liste des participants">
                    <app-listeparticipant></app-listeparticipant>
            </mat-tab> 
            <!-- Liste de souhaits -->
            <mat-tab label="Ma liste de souhaits">
                <app-listesouhait></app-listesouhait>
            </mat-tab>
            <!-- Mur du santa -->
            <mat-tab label="Mur du Santa" > 
                    
                            <app-mur></app-mur>
            </mat-tab>
        </mat-tab-group>

    </div>

</div>